<!DOCTYPE html>
<html>
<head>
  <title>Techtudo</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<form action="/busca" method="GET">
    <label for="campo_busca">busca:</label>
    <input id="campo_busca" name="q"/>
    <input type="submit"/>
</form>

<%= yield %>

</body>
</html>
